$background-light: #f9f9f9;
$black: #000000;
$yellow: #FFD700;
$white: #FFFFFF;
$text-black: #000000;
$dark-gray: #444;
$gray-light: #e0e0e0;

.section-container {
  background-color: #e0e0e0;
  padding: 3rem 1rem;
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  height: 100%;
}

.content-box {
  background-color: $white;
  border-radius: 12px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;

  h2 {
    color: $black;
    font-weight: bold;
  }

  p.text-muted {
    color: $dark-gray;
  }

  .form-label {
    color: $text-black;
    font-weight: bold;
  }

  .form-control {
    border-radius: 6px;
    border: 1px solid $gray-light;
    padding: 0.75rem;
    font-size: 1rem;
  }

  .form-check-input {
    margin-right: 0.5rem;
  }

  .btn-primary {
    background-color: $yellow;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease;

    &:hover {
      background-color: $black;
      color: $yellow;
    }
  }

  .btn-outline-secondary {
    border: 2px solid $yellow;
    color: $black;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;

    &:hover {
      background-color: $yellow;
      color: $black;
    }
  }

  a {
    color: $yellow;
    text-decoration: none;

    &:hover {
      color: $black;
    }
  }
}

/* Interactive Box */
.interactive-box {
  background-color: rgba(67, 64, 64, 0.85);
  padding: 3rem;
  border-radius: 12px;
  color: $white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  text-align: center;

  h2 {
    color: $yellow;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  p {
    color: $white;
    margin-bottom: 1rem;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 1rem;
      font-size: 1rem;
      display: flex;
      align-items: center;

      i {
        color: $yellow;
        margin-right: 0.5rem;
        font-size: 1.2rem;
      }
    }
  }

  .btn-outline-warning {
    color: $yellow;
    border: 2px solid $yellow;
    font-weight: bold;

    &:hover {
      background-color: $yellow;
      color: $black;
    }
  }
}

@media (max-width: 768px) {
  .interactive-box {
    margin-top: 2rem;
    text-align: center;
  }

  .form-control {
    font-size: 0.9rem;
  }

  .btn-primary,
  .btn-outline-secondary {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
  }
}
