$background-dark: #181818;
$card-background: #242424;
$text-primary: #f5f5f5;
$accent-primary: #A78BFA;
$accent-secondary: #4ADE80;
$accent-warning: #FACC15;
$accent-danger: #F87171;
$hover-effect: #373737;

//light-theme
$background-light: #f2f2f7; 
$card-background-light: #eaeaea; 
$text-primary-light: #1f1f1f; 
$text-secondary-light: #4a4a4a; 
$accent-primary-light: #A78BFA; 
$accent-secondary-light: #4ADE80; 
$accent-warning-light: #FACC15;
$accent-danger-light: #F87171; 
$hover-effect-light: #d6d6d9; 

//dark-theme
.mock-test-container.dark-theme {
  max-width: 93.5vw;
  padding: 2rem;
  background-color: $background-dark;
  color: $text-primary;
  position: relative;

  .header.dark-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem; /* Increased font size for better visibility */
    margin-bottom: 1.5rem;

    .timer.dark-theme {
      font-weight: bold;
      color: $accent-secondary;
    }
  }

  .section-switcher.dark-theme {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;

    button.dark-theme {
      padding: 0.75rem 2rem;
      background-color: $hover-effect;
      color: $text-primary;
      border: none;
      border-radius: 12px;
      font-size: 1.4rem;
      font-weight: bold;
      cursor: pointer;
      transition: transform 0.3s ease, background-color 0.3s ease;

      &.active.dark-theme {
        background-color: $accent-primary;
        color: $text-primary;
        transform: scale(1.05); /* Highlight active button */
      }

      &:hover.dark-theme {
        background-color: lighten($hover-effect, 10%);
        transform: scale(1.03);
      }
    }
  }

  .quiz-content.dark-theme {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .question-box.dark-theme {
      flex: 3;
      padding: 2rem;
      background-color: $card-background;
      border-radius: 12px;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h3.dark-theme {
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        color: $accent-primary;
      }

      .image-container.dark-theme {
        width: 100%;
        max-width: 800px;
        height: 400px;
        background-color: white;
        border-radius: 12px;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        min-width: 799px;

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }

      .options {
        display: flex;
        justify-content: space-around;
        gap: 1.5rem;

        button.dark-theme {
          padding: 1rem 2.5rem;
          background-color: $hover-effect;
          color: $text-primary;
          border: none;
          border-radius: 12px;
          font-size: 1.4rem;
          cursor: pointer;
          transition: all 0.3s ease;

          &.selected.dark-theme {
            background-color: $accent-secondary;
          }

          &:hover.dark-theme {
            background-color: lighten($hover-effect, 10%);
            transform: scale(1.05);
          }
        }
      }
    }

    .navigator.dark-theme {
      flex: 1;
      padding: 1.5rem;
      background-color: $card-background;
      border-radius: 12px;

      h3.dark-theme {
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: 1.6rem;
        color: $accent-primary;
      }

      .navigator-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1rem;

        button.dark-theme {
          width: 50px;
          height: 50px;
          border-radius: 12px;
          background-color: $hover-effect;
          color: $text-primary;
          border: none;
          cursor: pointer;
          font-size: 1.2rem;

          &.answered.dark-theme {
            background-color: $accent-secondary;
          }

          &.review.dark-theme {
            background-color: $accent-warning;
          }

          &:hover.dark-theme {
            background-color: lighten($hover-effect, 10%);
          }
        }
      }
    }
  }

  .navigation-buttons.dark-theme {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    button.dark-theme {
      padding: 1rem 2.5rem;
      background-color: $hover-effect;
      color: $text-primary;
      border: none;
      border-radius: 12px;
      font-size: 1.4rem;
      font-weight: bold;

      &:hover.dark-theme {
        background-color: lighten($hover-effect, 10%);
      }

      &.submit-button.dark-theme {
        background-color: $accent-secondary;
      }
    }
  }

  .overlay.dark-theme {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    .overlay-content.dark-theme {
      background-color: $card-background;
      padding: 2rem;
      border-radius: 12px;
      text-align: center;
      width: 400px;

      h2.dark-theme {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        color: $accent-primary;
      }

      form.dark-theme {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        label.dark-theme {
          display: flex;
          justify-content: space-between;
          color: $text-primary;
          font-size: 1.2rem;

          input.dark-theme {
            width: 60%;
            padding: 0.5rem;
            border: 1px solid $hover-effect;
            border-radius: 8px;
            background-color: $background-dark;
            color: $text-primary;
          }
        }

        button.dark-theme {
          padding: 0.75rem 2rem;
          font-size: 1.2rem;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          font-weight: bold;

          &:first-of-type.dark-theme {
            background-color: $accent-secondary;
            color: $text-primary;
          }

          &:last-of-type.dark-theme {
            background-color: $accent-danger;
            color: $text-primary;
          }

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }

  .rank-display.dark-theme {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: $card-background;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    width: 400px;
    z-index: 200;

    h2.dark-theme {
      font-size: 1.8rem;
      margin-bottom: 1rem;
      color: $accent-primary;
    }

    p.dark-theme {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
      color: $accent-secondary;
    }

    button.dark-theme {
      padding: 0.75rem 2rem;
      font-size: 1.2rem;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      background-color: $hover-effect;
      color: $text-primary;

      &:hover.dark-theme {
        background-color: lighten($hover-effect, 10%);
        transform: scale(1.05);
      }
    }
  }
}



//light-theme
.mock-test-container.light-theme {
  max-width: 93.5vw;
  padding: 2rem;
  background-color: $background-light;
  color: $text-primary;
  position: relative;

  .header.light-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem; /* Increased font size for better visibility */
    margin-bottom: 1.5rem;

    .timer.light-theme {
      font-weight: bold;
      color: $accent-secondary-light;
    }
  }

  .section-switcher.light-theme {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;

    button.light-theme {
      padding: 0.75rem 2rem;
      background-color: $hover-effect-light;
      color: $text-primary-light;
      border: none;
      border-radius: 12px;
      font-size: 1.4rem;
      font-weight: bold;
      cursor: pointer;
      transition: transform 0.3s ease, background-color 0.3s ease;

      &.active.light-theme {
        background-color: $accent-primary-light;
        color: $text-primary-light;
        transform: scale(1.05); /* Highlight active button */
      }

      &:hover.light-theme {
        background-color: lighten($hover-effect-light, 10%);
        transform: scale(1.03);
      }
    }
  }

  .quiz-content.light-theme {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .question-box.light-theme {
      flex: 3;
      padding: 2rem;
      background-color: $card-background-light;
      border-radius: 12px;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h3.light-theme {
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        color: $accent-primary-light;
      }

      .image-container.light-theme {
        width: 100%;
        max-width: 800px;
        height: 400px;
        background-color: white;
        border-radius: 12px;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        min-width: 799px;

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }

      .options {
        display: flex;
        justify-content: space-around;
        gap: 1.5rem;

        button.light-theme {
          padding: 1rem 2.5rem;
          background-color: $hover-effect-light;
          color: $text-primary-light;
          border: none;
          border-radius: 12px;
          font-size: 1.4rem;
          cursor: pointer;
          transition: all 0.3s ease;

          &.selected.light-theme {
            background-color: $accent-secondary-light;
          }

          &:hover.light-theme {
            background-color: lighten($hover-effect-light, 10%);
            transform: scale(1.05);
          }
        }
      }
    }

    .navigator.light-theme {
      flex: 1;
      padding: 1.5rem;
      background-color: $card-background-light;
      border-radius: 12px;

      h3.light-theme {
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: 1.6rem;
        color: $accent-primary-light;
      }

      .navigator-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1rem;

        button.light-theme {
          width: 50px;
          height: 50px;
          border-radius: 12px;
          background-color: $hover-effect-light;
          color: $text-primary-light;
          border: none;
          cursor: pointer;
          font-size: 1.2rem;

          &.answered.light-theme {
            background-color: $accent-secondary-light;
          }

          &.review.light-theme {
            background-color: $accent-warning-light;
          }

          &:hover.light-theme {
            background-color: lighten($hover-effect-light, 10%);
          }
        }
      }
    }
  }

  .navigation-buttons.light-theme {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    button.light-theme {
      padding: 1rem 2.5rem;
      background-color: $hover-effect-light;
      color: $text-primary-light;
      border: none;
      border-radius: 12px;
      font-size: 1.4rem;
      font-weight: bold;

      &:hover.light-theme {
        background-color: lighten($hover-effect-light, 10%);
      }

      &.submit-button.light-theme {
        background-color: $accent-secondary-light;
      }
    }
  }

  .overlay.light-theme {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    .overlay-content.light-theme {
      background-color: $card-background-light;
      padding: 2rem;
      border-radius: 12px;
      text-align: center;
      width: 400px;

      h2.light-theme {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        color: $accent-primary-light;
      }

      form.light-theme {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        label.light-theme {
          display: flex;
          justify-content: space-between;
          color: $text-primary-light;
          font-size: 1.2rem;

          input.light-theme {
            width: 60%;
            padding: 0.5rem;
            border: 1px solid $hover-effect-light;
            border-radius: 8px;
            background-color: $background-light;
            color: $text-primary-light;
          }
        }

        button.light-theme {
          padding: 0.75rem 2rem;
          font-size: 1.2rem;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          font-weight: bold;

          &:first-of-type.light-theme {
            background-color: $accent-secondary-light;
            color: $text-primary-light;
          }

          &:last-of-type.light-theme {
            background-color: $accent-danger-light;
            color: $text-primary-light;
          }

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }

  .rank-display.light-theme {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: $card-background-light;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    width: 400px;
    z-index: 200;

    h2.light-theme {
      font-size: 1.8rem;
      margin-bottom: 1rem;
      color: $accent-primary-light;
    }

    p.light-theme {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
      color: $accent-secondary-light;
    }

    button.light-theme {
      padding: 0.75rem 2rem;
      font-size: 1.2rem;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      background-color: $hover-effect-light;
      color: $text-primary-light;

      &:hover {
        background-color: lighten($hover-effect-light, 10%);
        transform: scale(1.05);
      }
    }
  }
}
