<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Page</title>
  <link rel="stylesheet" href="account.component.scss">
</head>
<body [class]="currentTheme">
  <div class="account-container {{currentTheme}}">
    <!-- Profile Picture Section -->
    <div class="profile-picture-container {{currentTheme}}">
      <h2>Welcome, {{ username }}! <br>Let's take a step closer to your goal!</h2>
      <div class="profile-picture-wrapper {{currentTheme}}">
        <img id="profile-picture-preview" src="../../assets/Default_Avatar.jpeg" alt="Profile Picture">
        <input type="file" id="profile-picture" name="profile-picture" accept="image/*" onchange="previewProfilePicture(event)">
      </div>
    </div>

    <!-- Personal Information Section -->
    <div class="info-layout {{currentTheme}}">
      <div class="box {{currentTheme}}">
        <h2 class="{{currentTheme}}">Personal Information</h2>
        <p class="{{currentTheme}}">Manage your personal information, including phone numbers and email addresses.</p>

        <!-- Name and Date of Birth -->
        <div class="row">
          <div class="box {{currentTheme}}">
            <h3 class="{{currentTheme}}">Name</h3>
            <input class="{{currentTheme}}" type="text" id="name" name="name" [(ngModel)]="personalInfo.name" [disabled]="!isPersonalInfoEditable">
          </div>
          <div class="box {{currentTheme}}">
            <h3 class="{{currentTheme}}">Date of Birth</h3>
            <input class="{{currentTheme}}" type="date" id="dob" name="dob" [(ngModel)]="personalInfo.dob" [disabled]="!isPersonalInfoEditable">
          </div>
        </div>

        <!-- Country and Language -->
        <div class="row">
          <div class="box {{currentTheme}}">
            <h3 class="{{currentTheme}}">Country Region</h3>
            <select class="{{currentTheme}}" id="country" name="country" [(ngModel)]="personalInfo.country" [disabled]="!isPersonalInfoEditable">
              <option value="India/Karnataka">India/Karnataka</option>
              <option value="USA">United States</option>
            </select>
          </div>
          <div class="box {{currentTheme}}">
            <h3 class="{{currentTheme}}">Language</h3>
            <select class="{{currentTheme}}" id="language" name="language" [(ngModel)]="personalInfo.language" [disabled]="!isPersonalInfoEditable">
              <option value="English">English (UK)</option>
              <option value="Spanish">Spanish</option>
            </select>
          </div>
        </div>
        <button class="{{currentTheme}}" *ngIf="!isPersonalInfoEditable" (click)="editPersonalInfo()">Edit</button>
        <button class="{{currentTheme}}" *ngIf="isPersonalInfoEditable" (click)="savePersonalInfo()">Save</button>
      </div>

      <!-- Account Settings Section -->
      <div class="box {{currentTheme}}">
        <h2 class="{{currentTheme}}">Account Settings</h2>
        <p class="{{currentTheme}}">Manage your account preferences and settings.</p>

        <!-- Username and Password -->
        <div class="row">
          <div class="box {{currentTheme}}">
            <h3 class="{{currentTheme}}">Username</h3>
            <input class="{{currentTheme}}" type="text" id="username" [(ngModel)]="username" [disabled]="true">
          </div>
          <div class="box {{currentTheme}}">
            <h3 class="{{currentTheme}}">Password</h3>
            <button class="{{currentTheme}}" (click)="openChangePasswordOverlay()">Change Password</button>
          </div>
        </div>

        <!-- Email ID and Gender -->
        <div class="row">
          <div class="box {{currentTheme}}">
            <h3 class="{{currentTheme}}">Email ID</h3>
            <input class="{{currentTheme}}" type="email" id="email" name="email" [(ngModel)]="contactInfoPayload.email" [disabled]="!isAccountSettingsEditable">
          </div>
          <div class="box {{currentTheme}}">
            <h3 class="{{currentTheme}}">Gender</h3>
            <select class="{{currentTheme}}" id="gender" name="gender" [(ngModel)]="contactInfoPayload.gender" [disabled]="!isAccountSettingsEditable">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
        <button class="{{currentTheme}}" *ngIf="!isAccountSettingsEditable" (click)="editAccountSettings()">Edit</button>
        <button class="{{currentTheme}}" *ngIf="isAccountSettingsEditable" (click)="saveAccountSettings()">Save</button>
      </div>
    </div>

    <!-- Change Password Overlay -->
    <div *ngIf="isPasswordOverlayOpen" class="overlay {{currentTheme}}">
      <div class="overlay-content {{currentTheme}}">
        <h3 class="{{currentTheme}}">Change Password</h3>
        <input class="{{currentTheme}}" type="password" placeholder="Old Password" [(ngModel)]="password.old">
        <input class="{{currentTheme}}" type="password" placeholder="New Password" [(ngModel)]="password.new">
        <input class="{{currentTheme}}" type="password" placeholder="Confirm New Password" [(ngModel)]="password.confirm">
        <button class="{{currentTheme}}" (click)="changePassword()">Save</button>
        <button class="{{currentTheme}}" (click)="closeChangePasswordOverlay()">Cancel</button>
      </div>
    </div>
  </div>
</body>
</html>
